/**
 * # Forms
 *
 * No styleguide reference.
 */

.form-control {
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: .5rem .85rem;
  line-height: 1.4rem;
  border: #ddd solid 1px;
  border-radius: 2px;
  box-shadow: none;
}

.form-control:focus {
  outline: none;
}
